/* :root {
    --primary-color: grey;
    --secondary-color: black;
    --accent-color: pink;
    --spacing: 20px;
} */

main {
    min-height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

#displayblog{
    justify-content: center;
    width: 100%;
}

article {
    padding: var(--spacing);
    border: 10px solid var(--accent-color);
    margin: var(--spacing);
    display: flex;
    flex-direction: column;
}