main {
height: 90vh;
}

.leftSide {
    width: 50%;
    border: 10px dashed var(--secondary-color);
    margin: var(--spacing);
    display: flex;
    /* position: static; */
    justify-content: center;
    align-items: center;
}

.leftSide h2 {
    position: absolute;
    left: 300px;
    top: 400px;
    display: flex;
    flex-wrap: wrap;
    width: 50px;
}

.leftSide img {
    border: 1px solid var(--secondary-color);
    border-radius: 300px;
    margin: var(--spacing);
    display: flex;
    height: 80%;
    width: 80%;
}

.rightSide {
    width: 50%;
    padding: var(--spacing);
    border: 10px dashed var(--secondary-color);
    margin: var(--spacing);
}

#formInputs {
    display: flex;
    flex-direction: column;
}